body {
    margin: 1px;
    padding: 0;
  }
  
#canvas 
{
    border: 1px solid rgb(201, 201, 201);
    cursor: crosshair;
    margin: auto;
    float:left;
}

.svg_canvas
{
  position: absolute;
  margin-right: 1px;
  top:1px;
}

.tooltip
{
  opacity: 0;
  position: absolute;

  font-family: 'Courier New';
  padding: 5px;
  z-index: -1;
  transition: opacity 1s;

  background-color: rgba(0, 0, 0, 0.75);
  color: rgb(255, 255, 255);
  text-align: center;
  border-radius: 6px;
}

#div_hideKps{
  position: absolute; 
  margin-left: 350px; 
  margin-top:1px; 
  width: 160px;
  background-color: rgba(255,255,255,0.6);
  text-align: center;
  border-radius: 6px;
}

.myCircle:hover 
{
  stroke: rgb(187, 0, 0);
  stroke-width: 3px;
  fill: rgb(255, 255, 255);
  cursor: crosshair;
}

img.desaturate{
  filter: gray; /* IE */
  -webkit-filter: grayscale(1); /* Old WebKit */
  -webkit-filter: grayscale(100%); /* New WebKit */
  filter: url(resources.svg#desaturate); /* older Firefox */
  filter: grayscale(100%); /* Current draft standard */
}


input[type="color"].custom {
padding: 0;
border: 1px solid rgb(135, 155, 170);
height: 16px;
width: 40px;
vertical-align: middle;
}

.loader {
  margin: auto;
  float: left;
  border: 1px solid rgb(199, 199, 199);
  width: 66.5%;
  height: 220px;
  position: relative;
}

#control_panel {
  width: 32.5%;
  float: right;
  border: 1px solid rgb(201, 201, 201);
}

.inline{
  display: inline;
}

.button1{
  width: 20%;
  height: 25px;
  margin-top: 10px;
  margin-left: 5%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.button2{
  width: 20%;
  height: 25px;
  margin-top: 10px;
  margin-left: 50%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

tr:nth-child(odd) {
  background-color: #f2f2f2;
}

.overlap{
  position: absolute;
  margin-right: 1%;
  top:25%;
  width: 100%;
}

textarea {
  width: 66.3%;
  margin: auto;
  float: left;
  resize: none;
}
